comfyui-frontend-package==1.47.12
comfyui-workflow-templates==0.11.27
comfyui-embedded-docs==0.5.9
torch==2.2.1
torchsde
torchvision==0.17.1
torchaudio==2.2.1
numpy==1.26.4
einops
transformers==4.51.3
tokenizers>=0.13.3
sentencepiece
safetensors==0.5.3
aiohttp>=3.11.8
yarl>=1.18.0
pyyaml
Pillow
scipy
tqdm
psutil
alembic
SQLAlchemy>=2.0.0
filelock
av>=16.0.0
comfy-kitchen==0.2.26
comfy-aimdo==0.4.11
requests
simpleeval>=1.0.0
blake3

#non essential dependencies:
kornia>=0.7.1
spandrel
pydantic~=2.0
pydantic-settings~=2.0
PyOpenGL>=3.1.8
comfy-angle
